.back-link {
    display: flex;
    align-items: center;
    color:black;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .back-link mat-icon {
    margin-right: 2px;
  }

  .estimated-duration-field {
    width: 300px; /* Adjust the width as needed */
  }

  .add-material-icon {
    margin-right: 8px;
  }