
<h2 mat-dialog-title>{{ data.auctionTitle }}</h2>

<div mat-dialog-content>
  <p>
    Date: <strong>{{ data.auctionDate | date }}</strong>
    Start Time: <strong>{{ data.startTime }}</strong>
    End Time: <strong>{{ data.endTime }}</strong>
  </p>

  <mat-card class="dialog-card">
    <mat-card-title>
      <h3 class="dialog-card-title">Claims Details</h3>
    </mat-card-title>
    <mat-card-content>

      <div class="claim-details-container">
        <div class="claim-details-label"><strong>Vehicle Make:</strong></div>
        <div class="claim-details-value">{{ data.vehicleMake }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label"><strong>Vehicle Model:</strong></div>
        <div class="claim-details-value">{{ data.vehicleModel }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label"><strong>Model Year:</strong></div>
        <div class="claim-details-value">{{ data.modelYear }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label"><strong>MM Code:</strong></div>
        <div class="claim-details-value">{{ data.MMcode }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label"><strong>Location:</strong></div>
        <div class="claim-details-value">{{ data.addressId }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label"><strong>Description:</strong></div>
        <div class="claim-details-value damage-description">{{ data.damageDescription }}</div>
      </div>

      <br>

      <div class="claim-details-label"><strong>Pictures of damage:</strong></div><br>
      <div *ngIf="data.images.length > 0" class="image-grid">
        <div *ngFor="let image of data.images" class="image-container">
          <img [src]="image" alt="Image">
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>

<mat-dialog-actions>
  <div class="button-container">
    <button mat-button mat-dialog-close>Close</button>
  </div>

  <div class="button-container">
    <button mat-raised-button (click)="openBidForm()">Create Bid</button>
  </div>

</mat-dialog-actions>