/* @import '~@fortawesome/fontawesome-free/css/all.css'; */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import 'src/theme.scss'; */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

 
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #444444;
}

.mat-dialog-title {
  color: #333;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
}

.mat-dialog-content p {
  margin-bottom: 10px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container {
  display: flex;
}

.button-container:first-child {
  margin-right: auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.image-container {
  width: 70%;
  padding-top: 50%; /* This will make the div a square */
  position: relative;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dialog-card {
  border: none;
}

.dialog-card-title {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.claim-details-container {
  display: flex;
  margin-bottom: 10px;
  border: none;
}

.claim-details-label {
  width: 180px;
  font-family: "Montserrat", sans-serif;
}

.claim-details-value {
  flex-grow: 1;
  padding: 6px;
  border-radius: 5px;
  margin-left: 10px;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
  max-height: 400px;
  overflow-y: auto;
}

.damage-description {
  flex-grow: 1;
  padding: 6px;
  border-radius: 5px;
  margin-left: 85px;
}
