<h2 mat-dialog-title>{{ auctionDetails.auctionTitle }}</h2>

<div mat-dialog-content>
  <p>Date: <strong>{{ auctionDetails.auctionDate | date}}</strong></p>
  <p>Start Time: <strong>{{ auctionDetails.startTime | date:'shortTime' }}</strong></p>
  <p>End Time: <strong>{{ auctionDetails.endTime | date:'shortTime' }}</strong></p>

  <mat-card class="dialog-card">

    <mat-card-title> <br>
      <h3 class="dialog-card-title">Auction details</h3>
    </mat-card-title>

    <mat-card-content>
      <div class="claim-details-container">
        <div class="claim-details-label">Vehicle Make:</div>
        <div class="claim-details-value">{{ auctionDetails.vehicleMake }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label">Vehicle Model:</div>
        <div class="claim-details-value">{{ auctionDetails.vehicleModel }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label">Model Year:</div>
        <div class="claim-details-value">{{ auctionDetails.modelYear }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label">MM Code:</div>
        <div class="claim-details-value">{{ auctionDetails.mmCode }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label">Customer suburb:</div>
        <div class="claim-details-value">{{ auctionDetails.customerSurbub }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label">Customer city:</div>
        <div class="claim-details-value">{{ auctionDetails.customerCity }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label">Customer province:</div>
        <div class="claim-details-value">{{ auctionDetails.customerProvince }}</div>
      </div>

      <div class="claim-details-container">
        <div class="claim-details-label">Description: </div>
        <div class="claim-details-value damage-description">{{ auctionDetails.damageDescription }}</div>
      </div>

      <br>

      <div class="claim-details-label">Pictures: </div><br>
      <div *ngIf="data.images.length > 0" class="image-grid">
        <div *ngFor="let image of data.images" class="image-container">
          <img [src]="image" alt="Image">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-dialog-actions>
  <div class="button-container">
    <button mat-button mat-dialog-close>Close</button>
  </div>

  <div class="button-container">
    <button mat-raised-button (click)="openBidForm()">Create Bid</button>
  </div>

</mat-dialog-actions>