@import '~@fortawesome/fontawesome-free/css/all.css';

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */



/* @import 'src/theme.scss'; */



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #444444;
  font-weight: 800;
}

.background-container {
  background-image: url("src/assets/Images/background1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

#main {
  margin-top: 60px;
  margin-left: 310px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
    margin-left: 0;
  }
}

table {
    width:fit-content;
    font-family: 'Montserrat', sans-serif;
  }

  .mat-elevation-z8 {
    /* Add elevation (shadow) to the table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  th.mat-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }

  .action-buttons {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
  }

  .search-bar {
    width: 70%; /* Adjust the width as needed */
  }

  mat-form-field {
    width: 70%; /* Make the search bar full width */
  }