
table {
    width: 50%;
    margin-left: 350px;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
  }

  .mat-elevation-z8 {
    /* Add elevation (shadow) to the table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  th.mat-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 10%
  }

  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }

  td.mat-cell {
    font-family: 'Montserrat', sans-serif;
    width: 10%; /* Adjust the width as needed for each column */
  }

  .action-buttons {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
  }
