<body>
    <div class="form-wrapper">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="handleSubmit()" class="container">
  
        <div class="logo-container">
          <a routerLink="/"> <img src="assets/Images/login.png" alt="Logo"></a>
        </div>
  
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label for="email">New Password</mat-label>
          <input matInput matPassword formControlName="password" required id="password" name="password" type="password">
        </mat-form-field>
       
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label for="password">Confirm Password</mat-label>
          <input matInput matPassword formControlName="confirmPassword" required id="password" name="password" type="password">
       
        </mat-form-field>
        <small *ngIf="resetPasswordForm.hasError('ConfirmPasswordValidator', 'confirmPassword')">Password does not match</small>

        <div class="forgot-password-link" style="text-align: right; margin-top: -5px; font-size:smaller;">
                </div>
        <div class="button-container">
          <button (click)="reset()" mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset</button>
        </div>
        <br>
        <!-- <div class="register-link" style="margin-bottom: -20px;">
          <p>Don't have an account? <a routerLink="/initialsignup" style="font-weight:normal;">Register here</a></p>
        </div> -->
      </form>
    </div>
  </body>