<div class="container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" class="container">
        <mat-form-field>
          <mat-label>Current Password</mat-label>
          <input matInput type="password" formControlName="currentPassword" id="currentPassword">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility('currentPassword')">
            <mat-icon>{{ currentPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" id="newPassword">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility('newPassword')">
            <mat-icon>{{ newPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Confirm New Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" id="confirmPassword">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility('confirmPassword')">
            <mat-icon>{{ confirmPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      
        <button mat-raised-button type="submit" [disabled]="changePasswordForm.invalid">Submit</button>
      </form>
</div>
