<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <div class="copyright">
                <a href="#" class="logo me-auto"><img src="/assets/images/LOGO VERSIONS -04.png" alt="" class="img-fluid"></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li><a href="#">Personal.Insure</a></li>
              <li><a href="#">Professional.Insure</a></li>
              <li><a href="#">Business.Insure</a></li>
              <li><a href="#">Lifestyle.Insure</a></li>
              <li><a href="#">Tourism.Insure</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Insurers</h4>
            <ul>
              <li><a href="#clients">Hollard</a></li>
              <li><a href="#clients">Santam</a></li>
              <li><a href="#clients">Old Mutual</a></li>
              <li><a href="#clients">Bryte</a></li>
              <li><a href="#clients">Western National</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Get the latest news and articles</p>
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter email address"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="credits">
            Everything.Insure Digital Intermediaries (Pty) Ltd (EIDI) (FSP 21271) is a licensed financial services Provider. <br>EIDI is a member of the firstEquity Group. Copyright ©. All rights reserved.
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/everything_dot_" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/everythingdotinsure" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/everythingdotinsure/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/company/everythingdotinsure" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

 

