<h2 mat-dialog-title>Select Date</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Select a date" [(ngModel)]="selectedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSubmitClick()">Submit</button>
</mat-dialog-actions>
