<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
  <link rel="stylesheet" href="initialsignup.component.css">
</head>
<body>
  <div class="form-wrapper">
    <form [formGroup]="userregister" (ngSubmit)="handleSubmit()" class="container">

      <div class="logo-container">
        <a routerLink="/"> <img src="assets/Images/signup.png" alt="Logo"></a>
      </div>
     
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label for="email">Email</mat-label>
        <input matInput formControlName="email" required id="email" name="email">
      </mat-form-field>

      <mat-error class="error-message" *ngIf="userregister.get('email')?.invalid && (userregister.get('email')?.dirty || userregister.get('email')?.touched)">
        Please enter a valid email address
      </mat-error>

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label for="password">Password</mat-label>
        <input matInput formControlName="password" required id="password" name="password" [type]="changetype?'password':'text'">
        <span class="eyeicon" (click)="hideShowPass()">
          <i [ngClass]="visible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </span>
      </mat-form-field>

      <mat-error class="error-message" *ngIf="userregister.get('password')?.invalid && (userregister.get('password')?.dirty || userregister.get('password')?.touched)">
        Passwords should be at least six characters and include at least one uppercase letter, number and special character
      </mat-error>

      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label for="confirmPassword">Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" required id="confirmPassword" name="confirmPassword" [type]="confirmChangetype?'password':'text'">
        <span class="eyeicon" (click)="hideShowConfirmPass()">
          <i [ngClass]="confirmVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </span>
      </mat-form-field>

      <mat-error class="error-message" *ngIf="userregister.hasError('mustMatch', 'confirmPassword') && (userregister.get('confirmPassword')?.dirty || userregister.get('confirmPassword')?.touched)">
        Passwords must match 
      </mat-error>

      <mat-form-field>
        <mat-label for="accountType">Account type</mat-label>
        <mat-select formControlName="accountType" required id="accountType" name="accountType">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container"  style="margin-bottom: -20px;">
        <button mat-raised-button color="accent" type="submit" [disabled]="!userregister.valid">Submit</button>

        <p>Do you already have an account? <a routerLink="/login" style="font-weight:normal;">Login here</a></p>
      </div>
      <br>
      <div class="register-link" style="margin-bottom: -20px;">
        <p>Already have an account? <a routerLink="/login" style="font-weight:normal;">Login</a></p>
      </div>
    </form>
  </div>
</body>
</html>
