@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  /* Replace 'background.jpg' with the actual image file name and path if needed */
  background-image: url('/assets/Images/background2.png');
  /* Set the background image size and position */
  background-size: cover; /* 'cover' will scale the image to cover the entire background */
  background-position: center center; /* Center the image both horizontally and vertically */
  /* Optional: Set a background color in case the image is not available or is transparent */
  background-color: #f0f0f0;
}

.error-message {
    font-size: 14px; /* Adjust the font size as needed */
    font-family: "DM Sans", sans-serif;
  }

  /* caregister.component.css */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow border to the container */
    border-radius: 8px; /* Add some border radius for a rounded look */
  }
  
  .container mat-form-field {
    width: 100%;
    color: green;
  }
  
  /* Customize the size of the form fields */
  .container input.mat-input-element {
    font-size: 14px; /* Adjust the font size */
    padding: 10px; /* Add some padding around the input fields */
    color: green;
  }
  
  /* Style the submit button */
  .container button[type="submit"] {
    margin-top: 10px; /* Add some spacing between the form fields and the button */
  }

  .logo-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    width: 250px; /* Adjust the width of the logo */
    height: auto; /* Keep the aspect ratio of the logo */
  }

  .eyeicon{
    position: absolute;
    right: 10px;
    top: 15px;
    color: black;
  }