
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="./managesp.component.css">
    </head>
    <body>
  
      <app-admin-nav-bar></app-admin-nav-bar>
      <app-admin-side-bar></app-admin-side-bar>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="registrationName">
        <th mat-header-cell *matHeaderCellDef> Registration name </th>
        <td mat-cell *matCellDef="let element"> {{element.registrationName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="tradingName">
        <th mat-header-cell *matHeaderCellDef> Trading name </th>
        <td mat-cell *matCellDef="let element"> {{element.tradingName}} </td>
      </ng-container>

      <ng-container matColumnDef="contactPerson">
        <th mat-header-cell *matHeaderCellDef> Contact person </th>
        <td mat-cell *matCellDef="let element"> {{element.contactPerson}} </td>
      </ng-container>
    
      <ng-container matColumnDef="cellNumber">
        <th mat-header-cell *matHeaderCellDef> Cellphone </th>
        <td mat-cell *matCellDef="let element"> {{element.cellNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="telNumber">
        <th mat-header-cell *matHeaderCellDef> Tellephone </th>
        <td mat-cell *matCellDef="let element"> {{element.telNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="payeeType">
        <th mat-header-cell *matHeaderCellDef> Payee type </th>
        <td mat-cell *matCellDef="let element"> {{element.payeeType}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="companyRegistrationNumber">
        <th mat-header-cell *matHeaderCellDef> Company registration number </th>
        <td mat-cell *matCellDef="let element"> {{element.companyRegistrationNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="VATVendor">
        <th mat-header-cell *matHeaderCellDef> VAT vendor </th>
        <td mat-cell *matCellDef="let element"> {{element.VATVendor}} </td>
      </ng-container>

      <ng-container matColumnDef="VATNumber">
        <th mat-header-cell *matHeaderCellDef> VAT number </th>
        <td mat-cell *matCellDef="let element"> {{element.VATNumber}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  
  </body>
  </html>

