h2 {
  margin-top: 30px;
  margin-left: 350px;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  color: #012970;
}

#topH2 {
  margin-top: 70px;
}

th {
  font-weight: bold;
}


ul {
  margin-left: 350px;
  list-style: none;

}

table {
  width: 100%;
}

button {

  margin-left:20px;
  font-family: 'Montserrat', sans-serif;
  width: auto;

}

table {
    width: 70%;
    margin-left: 350px;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
  }

  h2 + table {
    margin-top: 0;
  }

  

  .mat-elevation-z8 {
    /* Add elevation (shadow) to the table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  th.mat-header-cell {
    background-color:#007bff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .mat-header-cell {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }

  body {
    margin-bottom: 50px;
  }

  /* Icon styling  */

  i {
    font-size: 24px;
    margin-right: 20px; /* Add the desired space between buttons */
    margin-left: 20px;


  }

  .shaded-row {
    background-color: lightgray;
  }
  
  .regular-icon {
    color: #000; /* Change to the desired color for the regular icon */
    transition: color 0.3s; /* Add a transition effect for smooth color change */
  }
  
  /* Filled icon style */
  .filled-icon {
    color: #ff0000; /* Change to the desired color for the filled icon */
    transition: color 0.3s; /* Add a transition effect for smooth color change */
  }

  .action-button {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add the desired space between buttons */
  }
  