
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="./manageca.component.css">
    </head>
    <body>

  
      <app-admin-nav-bar></app-admin-nav-bar>
      <app-admin-side-bar></app-admin-side-bar>


    <div>
<div>

  <h2>Pending</h2>

  <table mat-table [dataSource]="pendingDataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->

      <i class="bi bi-hand-thumbs-down"></i>
      <i class="bi bi-hand-thumbs-up"></i>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="insuranceCompany">
        <th mat-header-cell *matHeaderCellDef> Insurance company </th>
        <td mat-cell *matCellDef="let element"> {{element.insuranceCompany}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn"><i class="bi bi-hand-thumbs-down"></i></button>
          <button mat-icon-button color="primary">Approve</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <i class="bi bi-hand-thumbs-down"></i>
      <i class="bi bi-hand-thumbs-up"></i> -->
  
  </table>

  </div>

  <div>

    <h2>Approved</h2>

  <table mat-table [dataSource]="approvedDataSource" class="mat-elevation-z8">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="insuranceCompany">
      <th mat-header-cell *matHeaderCellDef> Insurance company </th>
      <td mat-cell *matCellDef="let element"> {{element.insuranceCompany}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>

<div>

<h2>Rejected</h2>

<table mat-table [dataSource]="rejectedDataSource" class="mat-elevation-z8">
  
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="insuranceCompany">
    <th mat-header-cell *matHeaderCellDef> Insurance company </th>
    <td mat-cell *matCellDef="let element"> {{element.insuranceCompany}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

</div>


</div>
  
  </body>
  </html>
