<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="/assets/img/lady.svg" class="img-fluid rounded-image" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>About Everything.Insure Auction Platform</h3>
          <p>
            The Everything.Insure auction platform is an online marketplace desgined for service providers to have access to multiple available claims that have been uploaded by one of our trusted insurers. The benefits of this auction platform are:
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> A reduction in overall costs for both insurers and service providers.</li>
            <li><i class="bi bi-check-circle"></i> An increase in the number of claims opportunities made available to service providers.</li>
            <li><i class="bi bi-check-circle"></i> It works as a way to combat corruption by keeping the bidders anonymous and the winners of a claim based off pre-defined criteria.</li>
          </ul>
          <p>
            Insurers will upload claims to the auction platform. The auction system will notify service providers anytime a new claim is uploaded, an auction starts, closes and whether their bid won or not. Registered service providers will be able to manage their account and keep track of their claims and other paperwork on our system.
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

