<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/claims-agent-dashboard" routerLinkActive="active">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      <!-- End Dashboard Nav -->
    
      <!-- End Components Nav -->
      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/caprofile" routerLinkActive="active">
          <i class="bi bi-person-square"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/uploadclaim" routerLinkActive="active">
          <i class="bi bi-upload"></i>
          <span>Upload Claim</span>
        </a>
      </li><!-- End upload claim page nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/auction" routerLinkActive="active">
          <i class="bi bi-plus-circle"></i>
          <span>Create Auction Event</span>
        </a>
      </li><!-- End create auction Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/ca-profile" routerLinkActive="active">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li>End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/manageclaims">
          <i class="bi bi-clipboard"></i>
          <span>Manage claims</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/manageauctions">
          <i class="bi bi-clipboard-pulse"></i>
          <span>Manage auctions</span>
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link collapsed" href=""> <!-- (click)="logout()">-->
          <i class="bi bi-box-arrow-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Page Nav -->

      <!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->