<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/claims-agent-dashboard" routerLink="auction-dashboard">
          <i class="bi bi-grid"></i>
          <span>Auction</span>
        </a>
      <!-- End Dashboard Nav -->
    
      <!-- End Components Nav -->
      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/caprofile" routerLinkActive="active">
          <i class="bi bi-person-square"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/addauction" routerLinkActive="active">
          <i class="bi bi-plus-circle"></i>
          <span>Create Auction Event</span>
        </a>
      </li><!-- End create auction Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/manageclaims" routerLinkActive="active">
          <i class="bi bi-clipboard"></i>
          <span>Manage claims</span>
        </a>
      </li><!-- End manage claim Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/manageauctions" routerLinkActive="active">
          <i class="bi bi-clipboard-pulse"></i>
          <span>Manage auctions</span>
        </a>
      </li> <!-- End manage auction Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/awardauction" routerLinkActive="active">
          <i class="bi bi-award"></i>
          <span>Award auction</span>
        </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/auctionwinners" routerLinkActive="active">
          <i class="bi bi-trophy"></i>
          <span>Auction winners</span>
        </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/ca-report-dash" routerLinkActive="active">
          <i class="fas fa-chart-bar"></i>
          <span>Reports</span>
        </a>
      </li><!-- End CA report Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
          <span>Logout</span>
        </a>
      </li>
      <!-- End Logout Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->