<section id="why-trust-us" class="why-trust-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <img src="/assets/img/why.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <div class="trust-item" data-aos="fade-up" data-aos-delay="100">
            <div class="trust-icon bg-color-everything-60">
                <i class="bx bx-brain"></i>
            </div>
            <div class="trust-content">
              <h4>40&#x2B; Years of Experience</h4>
              <p>We've taken decades of industry expertise online and used tech to make your experience simpler.</p>
            </div>
          </div>
          <div class="trust-item" data-aos="fade-up" data-aos-delay="200">
            <div class="trust-icon bg-color-personal-60">
                <i class="bx bx-lock"></i>
            </div>
            <div class="trust-content">
              <h4>Safe and Secure</h4>
              <p>All your info is encrypted and you're completely covered in the unlikely event of a security breach.</p>
            </div>
          </div>
          <div class="trust-item" data-aos="fade-up" data-aos-delay="300">
            <div class="trust-icon bg-color-professional-60">
                <i class="bx bx-trophy"></i>
            </div>
            <div class="trust-content">
              <h4>Only SA&#x27;s Best Insurers</h4>
              <p>We only work with top insurers, ensuring your cover is underwritten by reliable, trusted entities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
      
