
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./manageclaims.component.css">
  </head>
  <body>

    <app-ca-navbar></app-ca-navbar>
    <app-ca-sidebar></app-ca-sidebar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> Customer name </th>
      <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="customerEmail">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.customerEmail}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="vehicleMake">
      <th mat-header-cell *matHeaderCellDef> Vehicle make </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleMake}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="vehicleModel">
      <th mat-header-cell *matHeaderCellDef> Vehicle model </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleModel}} </td>
    </ng-container>

    <ng-container matColumnDef="modelYear">
        <th mat-header-cell *matHeaderCellDef> Model year </th>
        <td mat-cell *matCellDef="let element"> {{element.modelYear}} </td>
    </ng-container>

    <ng-container matColumnDef="MMCode">
        <th mat-header-cell *matHeaderCellDef> MM code </th>
        <td mat-cell *matCellDef="let element"> {{element.mmCode}} </td>
    </ng-container>

    <ng-container matColumnDef="damageDescription">
        <th mat-header-cell *matHeaderCellDef> Damage description </th>
        <td mat-cell *matCellDef="let element"> {{element.damageDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="customerSurbub">
        <th mat-header-cell *matHeaderCellDef> Customer suburb </th>
        <td mat-cell *matCellDef="let element"> {{element.customerSurbub}} </td>
    </ng-container>

    <ng-container matColumnDef="customerCity">
        <th mat-header-cell *matHeaderCellDef> Customer city </th>
        <td mat-cell *matCellDef="let element"> {{element.customerCity}} </td>
    </ng-container>

    <ng-container matColumnDef="customerProvince">
        <th mat-header-cell *matHeaderCellDef> Customer province </th>
        <td mat-cell *matCellDef="let element"> {{element.customerProvince}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons">
          <button mat-icon-button (click)="editClaim()">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteClaim()">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

</body>
</html>