.background-container {
  background-image: url("src/assets/Images/background2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

#main {
  margin-top: 60px;
  margin-left: 310px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
    margin-left: 0;
  }
}
.container {
  display: flex;
  flex-direction: column;
  background: transparent;
}

mat-stepper {
  background: transparent; 
}

.stepper-container mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px; 
  margin-bottom: -30px; 
  gap: 50px;
  width: 50%;
}

.stepper-container .button-row {
  display: flex;
  justify-content: flex-end;
}

.stepper-container .button-row button {
  margin-left: 10px; /* Add space between buttons */
}

.button-container {
  display: flex;
  /* justify-content: flex-end; */
  margin-top: 20px; /* Optional: Add some space above the buttons */
}

.button-container button {
  margin-right: 10px; /* Add space between the buttons */
}

.material-cost-form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.added-materials-container {
  margin-top: 20px;
}

.materials-card {
  width: 30%;
  margin-left: 300;
}

/* Summary formatting */

.form-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

 

.heading-style {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
    color: #333;
  margin-bottom: 10px;
}

 

.row {
  margin-bottom: 10px;
}

 

.label-style {
  font-weight: bold;
  color: #333;
}

 

.value-style {
  color: #666;
}

 

.material-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

 

.button-container {
  margin-top: 20px;
}

 

.edit-button {
  margin-right: 10px;
}

 

.confirm-button {
  margin-left: 10px;
}


