.container {
  display: flex;
  flex-direction: column;
}

mat-stepper {
  margin-top: 70px; /* Add space between navbar and stepper */
  margin-left: 230px; /* Add space for the sidebar on the left */
}

.stepper-container mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px; 
  margin-bottom: -30px; 
  gap: 50px;
  width: 50%;
}

.stepper-container .button-row {
  display: flex;
  justify-content: flex-end;
}

.stepper-container .button-row button {
  margin-left: 10px; /* Add space between buttons */
}

.button-container {
  display: flex;
  /* justify-content: flex-end; */
  margin-top: 20px; /* Optional: Add some space above the buttons */
}

.button-container button {
  margin-right: 10px; /* Add space between the buttons */
}

.material-cost-form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.added-materials-container {
  margin-top: 20px;
}

.materials-card {
  width: 30%;
  margin-left: 300;
}