<!--<div class="container stepper-container">-->
<app-ca-navbar></app-ca-navbar>
<app-ca-sidebar></app-ca-sidebar>

<div class="background-container">
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Add Auction</h1>
    </div><!-- End Page Title -->
    <div class="container stepper-container">
<mat-stepper [linear]="isLinear" #stepper>
    <!-- Step 1: Create claim -->
   <mat-step [stepControl]="claimDetailsForm">
    <ng-template matStepLabel>Claim details</ng-template>
    <form [formGroup]="claimDetailsForm">

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="customerName">Customer name</mat-label>
        <input matInput formControlName="customerName" required id="customerName" name="customerName">
      </mat-form-field>

      <mat-error class="error-message" *ngIf="claimDetailsForm.get('customerName')?.invalid && (claimDetailsForm.get('customerName')?.dirty || claimDetailsForm.get('customerName')?.touched)">
        Please enter a valid email address
      </mat-error>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="customerEmail">Customer email</mat-label>
        <input matInput formControlName="customerEmail" required id="customerEmail" name="customerEmail">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="vehicleMake">Vehicle make</mat-label>
        <input matInput formControlName="vehicleMake" required id="vehicleMake" name="vehicleMake">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="vehicleModel">Vehicle model</mat-label>
        <input matInput formControlName="vehicleModel" required id="vehicleModel" name="vehicleModel">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="modelYear">Vehicle year</mat-label>
        <input matInput formControlName="modelYear" required id="modelYear" name="modelYear">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="MMCode">MM code</mat-label>
        <input matInput formControlName="MMCode" required id="MMCode" name="MMCode">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="damageDescription">Damage description</mat-label>
        <textarea matInput formControlName="damageDescription" required id="damageDescription" name="damageDescription" rows="4"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="customerSurbub">Customer suburb</mat-label>
        <input matInput formControlName="customerSurbub" required id="customerSurbub" name="customerSurbub">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="customerCity">Customer city</mat-label>
        <input matInput formControlName="customerCity" required id="customerCity" name="customerCity">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 50%">
        <mat-label for="customerProvince">Customer province</mat-label>
        <input matInput formControlName="customerProvince" required id="customerProvince" name="customerProvince">
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button type="button" matStepperNext (click)="submitClaimDetails()" [disabled]="!claimDetailsForm.valid">Next</button>
      </div>
    </form>
   </mat-step>
  
    <!-- Step 2: Auction details -->
    
    <mat-step [stepControl]="auctionForm">
      <ng-template matStepLabel>Auction Details</ng-template>
      <form [formGroup]="auctionForm">
  
        <mat-form-field>
          <input matInput formControlName="auctionDate" [matDatepicker]="auctionDatepicker" placeholder="Auction Date">
          <mat-datepicker-toggle matSuffix [for]="auctionDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #auctionDatepicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput formControlName="startTime" type="time" placeholder="Start Time">
          <ngx-material-timepicker #picker></ngx-material-timepicker>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput formControlName="endTime" type="time" matInput placeholder="End Time">
          <ngx-material-timepicker #picker></ngx-material-timepicker>
        </mat-form-field>
  
        <div class="button-container">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext (click)="submitAuctionDetails(claimId)" [disabled]="!auctionForm.valid">Next</button>
        </div>
      </form>
    </mat-step>

        <!-- Step 3: Guide price -->
  
        <mat-step [stepControl]="guidePriceForm">
          <ng-template matStepLabel>Guide price</ng-template>
          <form [formGroup]="guidePriceForm">

            <mat-form-field>
              <input matInput formControlName="labourCost" placeholder="Labour cost">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput formControlName="estimatedDuration" placeholder="Estimated duration">
            </mat-form-field>
            
            <div class="button-container">
              <button mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button mat-raised-button matStepperNext color="primary" (click)="submitGuidePrice(auctionId)" [disabled]="!guidePriceForm.valid">Next</button>
            </div>
          </form>
        </mat-step>

        <!-- Step 4: Materials  -->
        <div class="material-cost-form-container">
        <mat-step [stepControl]="materialCostForm">
          <ng-template matStepLabel>Material cost</ng-template>

          <form [formGroup]="materialCostForm">
            <mat-form-field>
              <input matInput placeholder="Material Name" formControlName="materialName">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput placeholder="Material Description" formControlName="materialDescription">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput type="number" placeholder="Cost" formControlName="cost">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput type="number" placeholder="Quantity" formControlName="quantity">
            </mat-form-field>  
            
            <div *ngIf="!isAddingMaterial">
            <div class="button-container">
              <button mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" (click)="addMaterial(guidePriceId)">Add material</button>
              <button mat-raised-button matStepperNext color="primary" (click)="handleSubmit()" [disabled]="!materialCostForm.valid">Next</button>

            </div>
          </div>
          </form>
          <br><br>
                   <!-- Display added materials -->
                   <div class="added-materials-container" *ngIf="showMaterialsCard">
                    <mat-card class="materials-card">
                      <mat-card-title>Added Materials</mat-card-title>
                      <mat-card-content>
                        <div *ngFor="let material of addedMaterials">
                          <p><strong>Material Name:</strong> {{ material.materialName }}</p>
                          <p><strong>Description:</strong> {{ material.materialDescription }}</p>
                          <p><strong>Cost:</strong> {{ material.cost }}</p>
                          <p><strong>Quantity:</strong> {{ material.quantity }}</p>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
        </mat-step>

        <!-- Confirmation -->
      </div>

      <!-- Step 5: Summary  -->

      <div class="material-cost-form-container">
        <mat-step [stepControl]="summaryForm" (stepSelectionChange)="onStepSelectionChange($event)">
          <ng-template matStepLabel>Summary</ng-template>

          <form [formGroup]="summaryForm">

            <h5 >Claim details</h5>

            <div class="col-lg-3 col-md-4 label">Customer Name</div>
            <div class="col-lg-9 col-md-8">{{ allInfo?.customerName}}</div>
      
            <mat-error class="error-message" *ngIf="claimDetailsForm.get('customerName')?.invalid && (claimDetailsForm.get('customerName')?.dirty || claimDetailsForm.get('customerName')?.touched)">
              Please enter a valid email address
            </mat-error>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="customerEmail">Customer email</mat-label>
              <input matInput formControlName="customerEmail" required id="customerEmail" name="customerEmail">
            </mat-form-field>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="vehicleMake">Vehicle make</mat-label>
              <input matInput formControlName="vehicleMake" required id="vehicleMake" name="vehicleMake">
            </mat-form-field>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="vehicleModel">Vehicle model</mat-label>
              <input matInput formControlName="vehicleModel" required id="vehicleModel" name="vehicleModel">
            </mat-form-field>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="modelYear">Vehicle year</mat-label>
              <input matInput formControlName="modelYear" required id="modelYear" name="modelYear">
            </mat-form-field>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="MMCode">MM code</mat-label>
              <input matInput formControlName="MMCode" required id="MMCode" name="MMCode">
            </mat-form-field>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="damageDescription">Damage description</mat-label>
              <textarea matInput formControlName="damageDescription" required id="damageDescription" name="damageDescription" rows="4"></textarea>
            </mat-form-field>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="customerSurbub">Customer suburb</mat-label>
              <input matInput formControlName="customerSurbub" required id="customerSurbub" name="customerSurbub">
            </mat-form-field>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="customerCity">Customer city</mat-label>
              <input matInput formControlName="customerCity" required id="customerCity" name="customerCity">
            </mat-form-field>
      
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="customerProvince">Customer province</mat-label>
              <input matInput formControlName="customerProvince" required id="customerProvince" name="customerProvince">
            </mat-form-field>



            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="auctionDate">Auction Date</mat-label>
              <input matInput formControlName="auctionDate" required id="auctionDate" name="Auction Date">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="startTime">Start Time</mat-label>
              <input matInput formControlName="startTime" required id="startTime" name="startTime">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="endTime">End Time</mat-label>
              <input matInput formControlName="endTime" required id="endTime" name="endTime">
            </mat-form-field>


      
          <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="labourCost">Labour Cost</mat-label>
              <input matInput formControlName="labourCost" required id="labourCost" name="labourCost">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="estimatedDuration">Estimated Duration</mat-label>
              <input matInput formControlName="estimatedDuration" required id="estimatedDuration" name="estimatedDuration">
            </mat-form-field>
      

            
            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="materialName">Material Name</mat-label>
              <input matInput formControlName="materialName" required id="materialName" name="materialName">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="materialDescription">Material Description</mat-label>
              <input matInput formControlName="materialDescription" required id="materialDescription" name="materialDescription">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="Cost">Cost</mat-label>
              <input matInput formControlName="Cost" required id="Cost" name="Cost">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 50%">
              <mat-label for="quantity">Quantity</mat-label>
              <input matInput formControlName="quantity" required id="quantity" name="quantity">
            </mat-form-field>

            
            <div *ngIf="!isAddingMaterial">
            <div class="button-container">
              <button mat-raised-button color="primary">Edit</button>
              <button mat-raised-button  color="primary" (click)="handleSubmit()">Confirm</button>

            </div>
          </div>
          </form>
          <br><br>
                   <!-- Display added materials -->
                
        </mat-step>

        <!-- Confirmation -->
      </div>
  </mat-stepper>
  </div>
  </main>
  </div>