<app-sp-navbar></app-sp-navbar>
<app-sp-sidebar></app-sp-sidebar>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="/assets/Images/panelbeaterlogo.png" alt="Profile" class="rounded-circle">
            <h2 style="font-size: large">{{ userProfile?.registrationName }}</h2>
            <h3>{{ userProfile?.type }}</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Registered Name</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.registrationName }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Trading Name</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.tradingName }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Contact Person</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.contactPerson }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Telephone number</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.telNumber }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Cell Phone</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.cellNumber }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">E-Mail</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.email }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Payee Type</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.payeeType }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Type</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.type }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Co Registration Number</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.companyRegistrationNumber }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">VAT Vendor</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.vatVendor }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">VAT Number</div>
                  <div class="col-lg-9 col-md-8">{{ userProfile?.vatNumber }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{ address?.buildingName }}
                    <br>
                    {{ address?.streetNumber }}, {{ address?.streetName }}, {{ address?.surbub }}
                    <br>
                    {{ address?.city }}, {{ address?.country }}, {{ address?.zipCode }},</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form (ngSubmit)="updateProfile()">
                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      <img src="assets/images/panelbeaterlogo.png" alt="Profile">
                      <div class="pt-2">
                        <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="registrationName" class="col-md-4 col-lg-3 col-form-label">Registered Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="registrationName" type="text" class="form-control" id="registrationName" [value]="userProfile.registrationName" [(ngModel)]="userProfile.registrationName">
            
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="tradingName" class="col-md-4 col-lg-3 col-form-label">Trading Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="tradingName" class="form-control" id="tradingName" [value]="userProfile.tradingName" [(ngModel)]="userProfile.tradingName">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="contactPerson" class="col-md-4 col-lg-3 col-form-label">Contact Person</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="contactPerson" type="text" class="form-control" id="contactPerson" [value]="userProfile.contactPerson" [(ngModel)]="userProfile.contactPerson">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="telephoneNumber" class="col-md-4 col-lg-3 col-form-label">Telephone number</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="telephoneNumber" type="string" class="form-control" id="telephoneNumber" [value]="userProfile.telNumber" [(ngModel)]="userProfile.telNumber">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="cellphoneNumber" class="col-md-4 col-lg-3 col-form-label">Cellphone Number</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="cellphoneNumber" type="string" class="form-control" id="cellphoneNumber" [value]="userProfile.cellNumber" [(ngModel)]="userProfile.cellNumber">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="text" class="form-control" id="email" [value]="userProfile.email" [(ngModel)]="userProfile.email">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="payeeType" class="col-md-4 col-lg-3 col-form-label">Payee Type</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="payeeType" type="text" class="form-control" id="payeeType" [value]="userProfile.payeeType" [(ngModel)]="userProfile.payeeType">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="type" class="col-md-4 col-lg-3 col-form-label">Type</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="type" type="text" class="form-control" id="type" [value]="userProfile.type" [(ngModel)]="userProfile.type">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="coRegistrationNo" class="col-md-4 col-lg-3 col-form-label">Co Registration No</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="coRegistrationNo" type="text" class="form-control" id="coRegistrationNo" [value]="userProfile.companyRegistrationNumber" [(ngModel)]="userProfile.companyRegistrationNumber">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="VATVendor" class="col-md-4 col-lg-3 col-form-label">VAT Vendor</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="VATVendor" type="text" class="form-control" id="VATVendor" [value]="userProfile.vatVendor" [(ngModel)]="userProfile.vatVendor">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="VATNo" class="col-md-4 col-lg-3 col-form-label">VAT No:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="VATNo" type="text" class="form-control" id="VATNo" [value]="userProfile.vatNumber" [(ngModel)]="userProfile.vatNumber">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Profile Changes</button>
                  </div>
                </form>

                <br>

                  <!-- Address data -->
                  <form (ngSubmit)="updateAddress()">
                  <div class="row mb-3">
                    <label for="buildingName" class="col-md-4 col-lg-3 col-form-label">Building Name:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="buildingName" type="text" class="form-control" id="buildingName" [value]="address.buildingName" [(ngModel)]="address.buildingName">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="streetNumber" class="col-md-4 col-lg-3 col-form-label">Street Number:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="streetNumber" type="text" class="form-control" id="streetNumber" [value]="address.streetNumber" [(ngModel)]="address.streetNumber">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="streetName" class="col-md-4 col-lg-3 col-form-label">Street Name:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="streetName" type="text" class="form-control" id="streetName" [value]="address.streetName" [(ngModel)]="address.streetName">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="surbub" class="col-md-4 col-lg-3 col-form-label">Suburb:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="surbub" type="text" class="form-control" id="surbub" [value]="address.surbub" [(ngModel)]="address.surbub">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="city" class="col-md-4 col-lg-3 col-form-label">City:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="city" type="text" class="form-control" id="city" [value]="address.city" [(ngModel)]="address.city">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="province" class="col-md-4 col-lg-3 col-form-label">Province:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="province" type="text" class="form-control" id="province" [value]="address.province" [(ngModel)]="address.province">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="country" class="col-md-4 col-lg-3 col-form-label">Country:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="country" type="text" class="form-control" id="country" [value]="address.country" [(ngModel)]="address.country">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="zipCode" class="col-md-4 col-lg-3 col-form-label">Zip Code:</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="zipCode" type="text" class="form-control" id="zipCode" [value]="address.zipCode" [(ngModel)]="address.zipCode">
                    </div>
                  </div>
                  
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Address Changes</button>
                  </div>
                </form>
                <!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-settings">

                <!-- Settings Form -->
                <form>

                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                    <div class="col-md-8 col-lg-9">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="changesMade" checked>
                        <label class="form-check-label" for="changesMade">
                          Changes made to your account
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="newProducts" checked>
                        <label class="form-check-label" for="newProducts">
                          Information on new products and services
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="proOffers">
                        <label class="form-check-label" for="proOffers">
                          Marketing and promo offers
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                        <label class="form-check-label" for="securityNotify">
                          Security alerts
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End settings Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form  [formGroup]="chanegPasswordForm">

                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label for="email">New Password</mat-label>
                    <input matInput matPassword formControlName="password" required id="password" name="password" type="password">
                  </mat-form-field>
          
                  <mat-error class="error-message" *ngIf="chanegPasswordForm.get('password')?.invalid && (chanegPasswordForm.get('password')?.dirty || chanegPasswordForm.get('password')?.touched)">
                    Passwords should be at least six characters and include at least one uppercase letter, number and special character
                  </mat-error>
                 
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label for="password">Confirm Password</mat-label>
                    <input matInput matPassword formControlName="confirmPassword" required id="password" name="password" type="password">
                 
                  </mat-form-field>
                  <small *ngIf="chanegPasswordForm.hasError('ConfirmPasswordValidator', 'confirmPassword')">Password does not match</small>
          
                </form><!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Everything.Auction</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">Everything.Insure</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>