<app-sp-navbar></app-sp-navbar>
<app-sp-sidebar></app-sp-sidebar>

<div class="background-container">
    <div class="container">

        <!-- <a routerLink="/auction-dashboard" class="back-link"> <mat-icon>keyboard_arrow_left</mat-icon> Back to Auction Dashboard</a> -->

        <mat-card>
            <mat-card-header>
                <mat-card-title>Place a bid for: </mat-card-title>
                <h2 class="auction-title">{{ auctionDetails.auctionTitle }}</h2>
            </mat-card-header>

            <mat-card-content>
                <mat-horizontal-stepper #stepper [formGroup]="bidForm">
                    <mat-step [stepControl]="bidForm.get('bidTotalLabourCost')!" [completed]="bidForm.get('bidTotalLabourCost')?.valid">
                        <h3 style="text-decoration:underline; font-weight: 400;">Step 1: Labour & Duration</h3>

                        <mat-form-field style="width:350px;">
                            <input matInput placeholder="Job description" formControlName="jobDescription" required for="jobDescription" id="jobDescription">
                            <mat-error *ngIf="bidForm?.get('jobDescription')?.hasError('required')">Estimated Job description!</mat-error>
                            <mat-error *ngIf="bidForm?.get('jobDescription')?.hasError('pattern')">Invalid job description.</mat-error>
                        </mat-form-field>

                        <mat-form-field style="width:350px;">
                            <input matInput placeholder="Labour Cost" formControlName="bidTotalLabourCost" required step="0.01" for="bidTotalLabourCost" id="bidTotalLabourCost">
                            <span matTextPrefix>R&nbsp;</span>
                            <mat-error *ngIf="bidForm?.get('bidTotalLabourCost')?.hasError('required')">Labour Cost is required!</mat-error>
                            <mat-error *ngIf="bidForm?.get('bidTotalLabourCost')?.hasError('pattern')">Invalid labour cost format, requires a positve with only 2 decimal places please.</mat-error>
                        </mat-form-field>

                        <br>

                        <mat-form-field style="width:350px;">
                            <input matInput placeholder="Estimated Duration (in Business Days)" formControlName="bidEstimatedDuration" required for="bidEstimatedDuration" id="bidEstimatedDuration">
                            <mat-error *ngIf="bidForm?.get('bidEstimatedDuration')?.hasError('required')">Estimated Duration is required!</mat-error>
                            <mat-error *ngIf="bidForm?.get('bidEstimatedDuration')?.hasError('pattern')">Invalid estimated duration format, please keep as positive whole numbers.</mat-error>
                        </mat-form-field>

                        <div>
                            <button mat-raised-button matStepperNext
                                (click)="submitBid()"
                                [disabled]="!(bidForm.get('bidEstimatedDuration')?.valid && bidForm.get('bidEstimatedDuration')?.dirty) || !bidForm.get('bidTotalLabourCost')?.valid">Submit& Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="bidForm.get('bidMaterials')!"
                        [completed]="bidForm.get('bidMaterials')?.valid">
                        <h3 style="text-decoration:underline; font-weight: 400;">Step 2: Bid Materials</h3>
                        <div formArrayName="bidMaterials">
                            <div *ngFor="let material of getMaterialsControls(); let i = index" [formGroupName]="i">

                                <mat-form-field>
                                    <input matInput placeholder="Material Name" formControlName="bidMaterialName" required for="bidMaterialName" id="bidMaterialName">
                                    <mat-error *ngIf="material.get('bidMaterialName')?.invalid && material.get('bidMaterialName')?.touched">
                                        Material Name is required!
                                    </mat-error>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <input matInput placeholder="Material Description" formControlName="bidMaterialDescription" required for="bidMaterialDescription" id="bidMaterialDescription">
                                    <mat-error *ngIf="material.get('bidMaterialDescription')?.invalid && material.get('bidMaterialDescription')?.touched">
                                        Material Description is required!
                                    </mat-error>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <input matInput placeholder="Material Cost" formControlName="bidMaterialCost" required for="bidMaterialCost" id="bidMaterialCost"><span matTextPrefix>R&nbsp;</span>
                                    <mat-error *ngIf="material.get('bidMaterialCost')?.invalid && material.get('bidMaterialCost')?.touched">
                                        Material Cost is required and must be a positive number with only two decimal places!
                                    </mat-error>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <input matInput placeholder="Quantity" formControlName="bidQuantity" required for="bidQuantity" id="bidQuantity">
                                    <mat-error *ngIf="material.get('bidQuantity')?.invalid && material.get('bidQuantity')?.touched">
                                        Quantity is required and must be a positive whole number!
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Total Cost" formControlName="totalCost"
                                        [value]="material.get('totalCost')?.value" [disabled]="true"><span
                                        matTextPrefix>R&nbsp;</span>
                                </mat-form-field>

                                <button mat-icon-button (click)="removeMaterial(i)">
                                    <mat-icon>remove</mat-icon>
                                </button>

                            </div>
                        </div>
                        <button mat-raised-button color="primary" (click)="addMaterial()"
                            class="add-material-button"><mat-icon class="add-material-icon">add</mat-icon>Add
                            Material</button><br><br>
                        <div>
                            <button mat-raised-button (click)="submitNext()"
                                [disabled]="!bidForm.get('bidMaterials')?.valid">Submit & Next</button>
                        </div>
                    </mat-step>

                    <mat-step [completed]="bidForm.valid">
                        <h3 style="text-decoration:underline; font-weight: 400;">Step 3: Submit Final Bid Price</h3>
                        <div>
                            <p style="font-size: larger; font-weight: 500;">Total Material Cost: R {{
                                calculateTotalMaterialCost() }}</p>
                            <p style="font-size: larger; font-weight: 500;">Final Bid Price: R {{
                                calculateFinalBidPrice() }}</p>
                        </div>
                        <button mat-raised-button color="primary" (click)="submitBid()">Complete Bid</button>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>