<h2 mat-dialog-title>Forgot Password?</h2>
<div mat-dialog-content>
    <h5>Please enter your email address. We will send you an email to reset your password.</h5>
    <form [formGroup]="forgotPasswordForm">
    <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="example@gmail.com">
        <mat-hint>Type your email address here</mat-hint>
        <mat-error *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">
            Please enter a valid email address.
        </mat-error>
    </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button id="closeBtn" mat-button [disabled]="forgotPasswordForm.invalid" (click)="sendResetLink()">Send Reset Link</button>
</div>
