<div class="dialog-header">
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>

<!-- Display auctionTitle and auctionStatus for viewing -->
<div class="headings-container">
    <p>Auction Title: {{ auctionData.auctionTitle }}</p>
    <p>Status: {{ auctionData.auctionStatus }}</p>
</div>

<form [formGroup]="auctionForm" class="form-container">

<div class="input-container">
<label for="auctionDate">Auction Date:</label>
<mat-form-field class="input-field">
  <input matInput formControlName="auctionDate" id="auctionDate" [matDatepicker]="auctionDatePicker" [(ngModel)]="auctionData.auctionDate">
  <mat-datepicker-toggle matSuffix [for]="auctionDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #auctionDatePicker></mat-datepicker>
</mat-form-field>
</div>

<div class="input-container">
<label for="startTime">Start Time:</label>
<mat-form-field class="input-field">
  <input matInput formControlName="startTime" type="time" id="startTime" [(ngModel)]="auctionStartTimePicker">
  <ngx-material-timepicker #picker></ngx-material-timepicker>
</mat-form-field>
</div>

<div class="input-container">
<label for="endTime">End Time:</label>
<mat-form-field class="input-field">
  <input matInput formControlName="endTime" type="time" id="endTime" [(ngModel)]="auctionEndTimePicker">
  <ngx-material-timepicker #picker></ngx-material-timepicker>
</mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="updateAuction()">Update</button>
</form>