<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
    <!-- Uncomment below if you prefer to use a word logo -->
      <!-- <h1 class="logo me-auto"><a href="index.html">Mentor</a></h1>-->
      
      <a href="" class="logo me-auto"><img src="/assets/Images/auction-logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="">Home</a></li>
         <li><a href= "#about-section">About</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a class="get-started-btn" routerLink="/login">Login</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Your only insurance platform.</h1>
      <h2>You can get everything covered in one place in record time with no paperwork required.</h2>
      <a routerLink="/initialsignup" class="btn-get-started">Register</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <section id="about-section">
  <app-about-us></app-about-us>
    </section>
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Us?</h3>
              <p>
                <strong>Everything.Insure</strong> auction platform is desgined for service providers to place bids on multiple claims submitted by our trusted insurers. Our auction platform will be able to help:
              </p>
              <div class="text-center">
                <!-- PUT REGISTER ROUTERLINK HERE-->
                <a routerLink="/service-provider-signup" class="more-btn">Register Now <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>No Paperwork - Ever</h4>
                    <p>All your info and documents are captured online, and you won't need to complete any additional paperwork at any point.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bxs-check-circle"></i>
                    <h4>Access To More Claims</h4>
                    <p>Service providers get access to more claims quicker and more efficiently than before.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bxs-contact"></i>
                    <h4>Support When Needed</h4>
                    <p>If you prefer a friendly voice or need more info, our friendly team of licensed consultants are ready to help you.</p>
                    <div class="bx bxs-phone" style="color: rgb(200, 74, 62);"><strong class="font-16" style="color: rgb(52, 49, 49);"> 011 510 1300</strong></div>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
    <!-- Start Why Trust Us Section -->
      <div class="why-head">
        <h2 data-aos="fade-up" data-aos-delay="100">Why Trust Us?</h2>
    </div>
<app-why-trust-us></app-why-trust-us>
    <!-- End Why Trust Us Section -->
 <!-- ======= Clients Section ======= -->
 <section id="clients" class="clients section-bg">
  <h3 data-aos="fade-up">Trusted By</h3>
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-left" data-aos-delay="100">
        <img src="/assets/img/insurers/hollard.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-left" data-aos-delay="100">
        <img src="/assets/img/insurers/santam.svg" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-left" data-aos-delay="100">
        <img src="/assets/img/insurers/oldmutual.svg" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-left" data-aos-delay="100">
        <img src="/assets/img/insurers/bryte.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-left" data-aos-delay="100">
        <img src="/assets/img/insurers/itoo.svg" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="fade-left" data-aos-delay="100">
        <img src="/assets/img/insurers/renasa.svg" class="img-fluid" alt="">
      </div>

    </div>

  </div>
</section><!-- End Clients Section -->
<!--Start FAQ section-->
<section id="faq">
<app-faq></app-faq>
</section>
<!--End FAQ section-->
  </main><!-- End #main -->

<app-footer></app-footer>  