
<app-sp-navbar></app-sp-navbar>
<app-sp-sidebar></app-sp-sidebar>

<div class="background-container">
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Auction Events</h1>
    </div>

    <!-- Open Auctions Section -->
    <div *ngIf="openAuctions.length > 0" class="auction-section">
      <h2>Open Auctions</h2>
      <div class="auction-events-container">
        <mat-card *ngFor="let auctionEvent of openAuctions" (click)="openDialog(auctionEvent)" class="auction-card">
          <mat-card-header>
            <div class="image-container">
              <div *ngIf="auctionEvent.images && auctionEvent.images.length > 0; else noImage">
                <div *ngFor="let image of auctionEvent.images">
                  <img [src]="image" alt="Image" class="card-image">
                </div>
              </div>
              <ng-template #noImage>
                <div class="image-placeholder">
                  <p>No Image Available</p>
                </div>
              </ng-template>
            </div>
          </mat-card-header>
          
          <div class="title-section">
            <mat-card-title>
              {{ auctionEvent.auctionTitle }}
            </mat-card-title>
            <mat-card-actions>
              <button mat-icon-button class="favorite-button" (click)="favoriteEvent($event, auctionEvent)">
                <mat-icon>{{ isEventFavorite(auctionEvent) ? 'favorite' : 'favorite_border' }}</mat-icon>
              </button>
            </mat-card-actions>
          </div>
          <div class="divider-line"></div>
          <mat-card-subtitle>
            <i class="bi bi-calendar4"></i> {{ auctionEvent.auctionDate | date }} <br>
            Start Time: {{ auctionEvent.startTime | date:'shortTime' }} |
            End Time: {{ auctionEvent.endTime | date:'shortTime'}} <br>
            Status: {{ auctionEvent.auctionStatus }}
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>

    <!-- Upcoming Auctions Section -->
    <div *ngIf="upcomingAuctions.length > 0" class="auction-section">
      <h2>Upcoming Auctions</h2>
      <div class="auction-events-container">
        <mat-card *ngFor="let auctionEvent of upcomingAuctions" (click)="openDialog(auctionEvent)" class="auction-card">
          <mat-card-header>
            <div class="image-container">
              <div *ngIf="auctionEvent.images && auctionEvent.images.length > 0; else noImage">
                <div *ngFor="let image of auctionEvent.images">
                  <img [src]="image" alt="Image" class="card-image">
                </div>
              </div>
              <ng-template #noImage>
                <div class="image-placeholder">
                  <p>No Image Available</p>
                </div>
              </ng-template>
            </div>
          </mat-card-header>
          
          <div class="title-section">
            <mat-card-title>
              {{ auctionEvent.auctionTitle }}
            </mat-card-title>
            <mat-card-actions>
              <button mat-icon-button class="favorite-button" (click)="favoriteEvent($event, auctionEvent)">
                <mat-icon>{{ isEventFavorite(auctionEvent) ? 'favorite' : 'favorite_border' }}</mat-icon>
              </button>
            </mat-card-actions>
          </div>
          <div class="divider-line"></div>
          <mat-card-subtitle>
            <i class="bi bi-calendar4"></i> {{ auctionEvent.auctionDate | date }} <br>
            Start Time: {{ auctionEvent.startTime | date:'shortTime' }} |
            End Time: {{ auctionEvent.endTime | date:'shortTime'}} <br>
            Status: {{ auctionEvent.auctionStatus }}
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>

    <!-- Closed Auctions Section -->
    <div *ngIf="closedAuctions.length > 0" class="auction-section">
      <h2>Closed Auctions</h2>
      <div class="auction-events-container">
        <mat-card *ngFor="let auctionEvent of closedAuctions" (click)="openDialog(auctionEvent)" class="auction-card">
          <mat-card-header>
            <div class="image-container">
              <div *ngIf="auctionEvent.images && auctionEvent.images.length > 0; else noImage">
                <div *ngFor="let image of auctionEvent.images">
                  <img [src]="image" alt="Image" class="card-image">
                </div>
              </div>
              <ng-template #noImage>
                <div class="image-placeholder">
                  <p>No Image Available</p>
                </div>
              </ng-template>
            </div>
          </mat-card-header>
          <div class="title-section">
            <mat-card-title>
              {{ auctionEvent.auctionTitle }}
            </mat-card-title>
            <mat-card-actions>
              <button mat-icon-button class="favorite-button" (click)="favoriteEvent($event, auctionEvent)">
                <mat-icon>{{ isEventFavorite(auctionEvent) ? 'favorite' : 'favorite_border' }}</mat-icon>
              </button>
            </mat-card-actions>
          </div>
          <div class="divider-line"></div>
          <mat-card-subtitle>
            <i class="bi bi-calendar4"></i> {{ auctionEvent.auctionDate | date }} <br>
            Start Time: {{ auctionEvent.startTime | date:'shortTime' }} |
            End Time: {{ auctionEvent.endTime | date:'shortTime'}} <br>
            Status: {{ auctionEvent.auctionStatus }}
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </main>
</div>