<app-sp-navbar></app-sp-navbar>

<app-sp-sidebar></app-sp-sidebar>


<div class="background-container">
  <main id="main" class="main">

    <div class="pagetitle">

      <h1>Auction Events</h1>

    </div><!-- End Page Title -->

    <!--Display Auction Events-->
    <div class="auction-events-container">
      <mat-card *ngFor="let auctionEvent of auctionEvents" (click)="openDialog(auctionEvent)" class="auction-card">
        <mat-card-header>
          <div class="image-container">
            <div *ngIf="auctionEvent.images && auctionEvent.images[0]; else noImage">
              <img [src]="auctionEvent.images[0]" alt="Image" class="card-image">
            </div>
            <ng-template #noImage>
              <div class="image-placeholder">
                <p>No Image Available</p>
              </div>
            </ng-template>
          </div>
        </mat-card-header>
        <div class="title-section">
        <mat-card-title>
          {{ auctionEvent.auctionTitle }}
        </mat-card-title>
        <mat-card-actions>
          <button mat-icon-button class="favorite-button" (click)="favoriteEvent($event, auctionEvent)">
            <mat-icon>{{ isEventFavorite(auctionEvent) ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>
        </mat-card-actions>
        </div>
        <div class="divider-line"></div> 
        <mat-card-subtitle>
          <i class="bi bi-calendar4"></i> {{ auctionEvent.auctionDate | date }} <br>
          Start Time: {{ auctionEvent.startTime | date:'shortTime' }} |
          End Time: {{ auctionEvent.endTime | date:'shortTime'}} <br>
          Status: {{ auctionEvent.auctionStatus}}
        </mat-card-subtitle>
      </mat-card>
    </div>

  </main>
</div>