@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.container-fluid {
    display:flex;
    margin-top: 20px;
}
aside {
    width: 300px;
}
main {
    flex: 1;
}
.profile .profile-card img {
    max-width: 120px;
  }
  
  .profile .profile-card h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
  }
  
  .profile .profile-card h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
  
  .profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .profile .profile-card .social-links a:hover {
    color: #012970;
  }
  
  .profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .profile .profile-overview .card-title {
    font-family: "Montserrat", sans-serif;
    color: #012970;
    font-size: 16px;
  }
  
  .profile .profile-overview .label {
    font-family: "Montserrat", sans-serif;
    color: rgba(1, 41, 112, 0.6);
  }
  
  .profile .profile-edit label {
    font-family: "Montserrat", sans-serif;
    color: rgba(1, 41, 112, 0.6);
  }
  
  .tab-content .profile-edit .card {
    width:max-content;
}

  .profile .profile-edit img {
    max-width: 120px;
  }
  .breadcrumb-item {
    font-family:  "Montserrat", sans-serif;
  }